@import url(http://fonts.googleapis.com/css?family=Roboto);

.container{
	perspective: 1000;
	}

.container.active #card{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.container, 
.front, 
.back{
	width: 100%;
	max-width: 20em;
	height: 30em;
	margin: 0 auto;
}

#card{
	-webkit-transition: 0.4s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.4s;
	-moz-transform-style: preserve-3d;
	transition: 0.4s;
	transform-style: preserve-3d;
}

.front,
.back{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 20px;
	box-shadow: 4px 2px 2px grey;
	text-align: center;
	vertical-align: middle;
}

.front{
	background: #dde6e8;
	z-index: 2
}

.back{
	background: #b0e0e6;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#front-content,
#back-content{
	position: relative;
	top: 40%;
	vertical-align: middle;
	font-size: 2.5em;
	color: #4aae83;
	font-family: 'Roboto', Arial, sans-serif;
}

#desktop-nav{
	display: none;
	width: 100%;
	text-align: center;
	color: #eee;
}

#icon-flip,
#icon-right,
#icon-left{
	display: inline-block;
	font-size: 2.5em;
	color: #4aae83;
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0 10px;
	cursor: pointer;
	vertical-align: top;
	font-weight: bold;
}

#icon-flip:hover,
#icon-right:hover,
#icon-left:hover{
	padding-top: 2px;
	color: #3b8b68;
}

@media (min-width: 500px){
	body{
		padding-top: 2em;
	}

	.container, 
	.front, 
	.back{
		width: 20em;
		height: 30em;
		margin: 0 auto 1em;
	}

	#desktop-nav{
		display: block;
	}

}

